div.main{

    width: 80%;
    margin: auto;
    display: block;
    height: auto;

}

 .list-down-users{
width: 40%;
float: left;
 }
.list-down-repo{
    width: 40%;
    height: 2000px;
    float: left;
position: relative;

}

.getuser{
     width: 10%;
    margin:10px  50px 10px 50px;
}
